NEXT_PUBLIC_SUPABASE_URL=https://jsewjkmxhtxtefojuqua.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzZXdqa214aHR4dGVmb2p1cXVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MzU0NjEsImV4cCI6MjEwMjIxMTQ2MX0.-F0FT_zMxckBfJZvMdpsR31GqHd7F0al4C_TZVedvo
